.genre-main-btn {
  background: #333;
  border: noфne;
  border-radius: 25px;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

.genre-main-btn:hover {
  background: #444;
  transform: scale(1.03);
}

.genre-main-btn.active {
  background: #e50914;
  color: #fff;
}

.genre-scroll {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 10px 0;
  scroll-snap-type: x mandatory;
}
.genre-scroll::-webkit-scrollbar {
  display: none; /* ховає прокрутку */
}
.genre-scroll > .genre-btn {
  scroll-snap-align: start;
  flex: 0 0 auto; /* не дає кнопкам переноситись */
}
.genre-btn {
  background: #333;
  border: none;
  border-radius: 25px;
  padding: 10px 16px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

.genre-btn:hover {
  background: #e50914;
  color: #fff;
  transform: scale(1.03);
}

